{{#if model.guests.isPending}}
  {{svg-loader}}
{{else}}
  <div class="bg-white opacity-75 p1">
    <h3>Confirm Guests</h3>
    <table class='table'>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">RSVP</th>
      </tr>
      {{#each model.guests as |guest|}}
        <tr scope='row'>
          <td>{{guest.name}}</td>
          <td>
            {{rsvp-comp guest=guest showRSVPError=showRSVPError}}
          </td>
        </tr>
      {{/each}}
    </table>
    <button {{action "submit"}} class="btn btn-sm btn-primary">Next ></button>
  </div>
{{/if}}
